html, body {
  width: 100%;
  height: 100%;
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; }

.container {
  width: 100%;
  height: 1300px;
  overflow-y: scroll;
  background: black;
  min-width: 1010px;
  background-image: url("../../imgAll/img_tutorial/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .container .nav_vertical {
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 2000px;
    background-image: url("../../imgAll/img_tutorial/nav.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 20; }
    .container .nav_vertical ul {
      background-image: url("../../imgAll/img_tutorial/nav.png");
      background-repeat: no-repeat; }
      .container .nav_vertical ul li {
        height: 92px;
        text-align: center; }
      .container .nav_vertical ul .nav1 {
        background-image: url("../../imgAll/img_tutorial/nav_on.png");
        background-repeat: no-repeat; }
      .container .nav_vertical ul .nav2 {
        background-image: url("../../imgAll/img_tutorial/nav.png");
        background-repeat: no-repeat;
        background-position: 0 -93px; }
      .container .nav_vertical ul .nav3 {
        background-image: url("../../imgAll/img_tutorial/nav.png");
        background-repeat: no-repeat;
        background-position: 0 -187px; }
      .container .nav_vertical ul .nav4 {
        background-image: url("../../imgAll/img_tutorial/nav.png");
        background-repeat: no-repeat;
        background-position: 0 -275px; }
      .container .nav_vertical ul .nav5 {
        background-image: url("../../imgAll/img_tutorial/nav.png");
        background-repeat: no-repeat;
        background-position: 0 -367px; }
      .container .nav_vertical ul .nav6 {
        background-image: url("../../imgAll/img_tutorial/nav.png");
        background-repeat: no-repeat;
        background-position: 0 -460px; }
  .container .content {
    display: block;
    min-height: 1200px;
    padding-left: 260px;
    text-align: center; }
    .container .content section {
      max-width: 1000px;
      min-width: 750px;
      margin: 0 auto;
      display: none; }
      .container .content section .title {
        width: 100%;
        padding-top: 50px;
        height: 130px;
        color: #ead49a; }
        .container .content section .title h1 {
          font-size: 42px;
          line-height: 60px;
          padding-top: 20px; }
        .container .content section .title h3 {
          height: 30px;
          background-image: url("../../imgAll/img_tutorial/title.png");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
      .container .content section .main_content {
        padding-top: 50px; }
        .container .content section .main_content .hall {
          margin: 0 auto;
          width: 750px;
          height: 450px;
          background-image: url("../../imgAll/img_tutorial/hall.jpg");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          position: relative; }
          .container .content section .main_content .hall li {
            width: 180px;
            padding: 10px;
            border: 1px solid #e6d1a8;
            color: #ead49a;
            font-size: 14px;
            line-height: 22px;
            background-color: #000;
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            font-weight: 300;
            text-align: left;
            display: none; }
          .container .content section .main_content .hall .h1 {
            bottom: 75px;
            left: 30px; }
          .container .content section .main_content .hall .h2 {
            bottom: 75px;
            left: 155px; }
          .container .content section .main_content .hall .h3 {
            bottom: 75px;
            left: 266px; }
          .container .content section .main_content .hall .h4 {
            bottom: 75px;
            left: 379px; }
          .container .content section .main_content .hall .h5 {
            bottom: 75px;
            left: 489px; }
          .container .content section .main_content .hall .h6 {
            bottom: 75px;
            left: 561px; }
          .container .content section .main_content .hall .h7 {
            left: 722px;
            top: 255px; }
          .container .content section .main_content .hall .h8 {
            left: 722px;
            top: 175px; }
          .container .content section .main_content .hall .h9 {
            left: 722px;
            top: 95px; }
          .container .content section .main_content .hall .h10 {
            bottom: 425px;
            left: 655px; }
          .container .content section .main_content .hall .h11 {
            bottom: 425px;
            left: 580px; }
          .container .content section .main_content .hall .h12 {
            bottom: 425px;
            left: 507px; }
          .container .content section .main_content .hall .h13 {
            bottom: 425px;
            left: 440px; }
          .container .content section .main_content .hall .h14 {
            bottom: 425px;
            left: 115px; }
          .container .content section .main_content .hall .bb::after {
            content: "";
            display: block;
            width: 180px;
            height: 11px;
            position: absolute;
            background-image: url("../../imgAll/img_tutorial/bb.png");
            background-size: 100% 100%;
            bottom: -11px;
            left: -1px; }
          .container .content section .main_content .hall .bl::after {
            content: "";
            display: block;
            width: 11px;
            height: 70px;
            background: url("../../imgAll/img_tutorial/bl.png") no-repeat left 0;
            position: absolute;
            left: -11px;
            top: -1px; }
        .container .content section .main_content .guide {
          margin-top: 50px;
          width: 1033px; }
          .container .content section .main_content .guide .bt1 {
            margin: 0px 4px;
            display: inline-block;
            width: 128px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            color: #2c1703;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            background-image: url("../../imgAll/img_tutorial/guide.png");
            background-repeat: no-repeat;
            background-position: -23px -114px; }
        .container .content section .main_content .page_box {
          display: none; }
    .container .content .con2 .main_content .guide .title_tab :first-child, .container .content .con3 .main_content .guide .title_tab :first-child, .container .content .con5 .main_content .guide .title_tab :first-child {
      background-position: -153px -114px; }
    .container .content .con4 .main_content .guide .title_tab :first-child {
      background-position: -99px -1px; }
    .container .content .con2 .main_content, .container .content .con3 .main_content, .container .content .con4 .main_content, .container .content .con5 .main_content, .container .content .con6 .main_content {
      padding: 0px; }
      .container .content .con2 .main_content .guide, .container .content .con3 .main_content .guide, .container .content .con4 .main_content .guide, .container .content .con5 .main_content .guide, .container .content .con6 .main_content .guide {
        margin: 20px auto; }
        .container .content .con2 .main_content .guide .title_tab a, .container .content .con3 .main_content .guide .title_tab a, .container .content .con4 .main_content .guide .title_tab a, .container .content .con5 .main_content .guide .title_tab a, .container .content .con6 .main_content .guide .title_tab a {
          margin-right: 20px; }
      .container .content .con2 .main_content .hall, .container .content .con3 .main_content .hall, .container .content .con4 .main_content .hall, .container .content .con5 .main_content .hall, .container .content .con6 .main_content .hall {
        margin: 20px auto;
        background: transparent; }
      .container .content .con2 .main_content .page_box, .container .content .con3 .main_content .page_box, .container .content .con4 .main_content .page_box, .container .content .con5 .main_content .page_box, .container .content .con6 .main_content .page_box {
        display: none; }
        .container .content .con2 .main_content .page_box p, .container .content .con3 .main_content .page_box p, .container .content .con4 .main_content .page_box p, .container .content .con5 .main_content .page_box p, .container .content .con6 .main_content .page_box p {
          font-size: 18px;
          color: #ead49a;
          line-height: 34px;
          margin-bottom: 50px; }
      .container .content .con2 .main_content .active, .container .content .con3 .main_content .active, .container .content .con4 .main_content .active, .container .content .con5 .main_content .active, .container .content .con6 .main_content .active {
        display: block; }
    .container .content .con4 .guide {
      margin: 0; }
      .container .content .con4 .guide .title_tab .bt2 {
        margin-right: 20px;
        text-align: center;
        padding-top: 30px;
        line-height: 24px;
        font-size: 20px;
        color: #000000;
        font-weight: bold;
        display: inline-block;
        width: 96px;
        height: 111px;
        background-position: -99px -1px;
        background-image: url("../../imgAll/img_tutorial/guide.png");
        width: 96px;
        height: 111px;
        background-position: -1px -1px;
        box-sizing: border-box; }
    .container .content .con4 .hero {
      width: 1000px;
      height: 623px;
      margin: 0 auto;
      position: relative;
      text-align: left;
      box-sizing: border-box;
      color: #ead49a; }
      .container .content .con4 .hero .hall {
        margin: 0 20px; }
        .container .content .con4 .hero .hall h2 {
          width: 200px;
          height: 55px;
          background: url("../../imgAll/img_tutorial/t.png") no-repeat 22px -10px;
          position: absolute;
          top: 110px;
          left: 0;
          color: #ead49a;
          font-size: 35px;
          text-indent: 56px; }
        .container .content .con4 .hero .hall p {
          left: 56px;
          position: absolute;
          width: 385px;
          top: 174px;
          font-size: 14px;
          line-height: 26px; }
        .container .content .con4 .hero .hall h4 {
          width: 200px;
          height: 24px;
          line-height: 24px;
          position: absolute;
          top: 310px;
          left: 56px;
          color: #ead49a;
          font-size: 18px;
          text-indent: 15px;
          border-left: 3px solid #ead49a;
          text-align: left; }
        .container .content .con4 .hero .hall .hero_ctrl {
          position: absolute;
          top: 345px;
          left: 56px;
          width: 420px; }
          .container .content .con4 .hero .hall .hero_ctrl li {
            margin-right: 25px;
            margin-bottom: 10px;
            position: relative;
            float: left;
            display: block;
            width: 109px;
            height: 120px;
            padding: 0;
            float: left;
            border: 0; }
            .container .content .con4 .hero .hall .hero_ctrl li .m {
              -webkit-filter: grayscale(100%); }
            .container .content .con4 .hero .hall .hero_ctrl li .m1 {
              display: inline-block;
              width: 109px;
              height: 88px;
              margin: 0;
              -webkit-filter: grayscale(0); }
            .container .content .con4 .hero .hall .hero_ctrl li em {
              display: block;
              text-align: center; }
            .container .content .con4 .hero .hall .hero_ctrl li .m2 {
              display: inline-block;
              width: 109px;
              height: 88px;
              margin: 0; }
            .container .content .con4 .hero .hall .hero_ctrl li .m3 {
              display: inline-block;
              background: url("../../imgAll/img_tutorial/m.jpg");
              width: 109px;
              height: 88px;
              margin: 0; }
          .container .content .con4 .hero .hall .hero_ctrl .on ::before {
            content: '';
            background: url("../../imgAll/img_tutorial/hero.png") no-repeat center 0;
            display: block;
            width: 111px;
            height: 90px;
            position: absolute;
            top: -1px;
            left: -1px; }
    .container .content .con4 .hero1 {
      background-image: url("../../imgAll/img_tutorial/hero1.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
      .container .content .con4 .hero1 .m1 {
        background: url("../../imgAll/img_tutorial/guide.png");
        background-position: -721px -1px; }
      .container .content .con4 .hero1 .m2 {
        background: url("../../imgAll/img_tutorial/guide.png");
        background-position: -1276px -1px; }
    .container .content .con4 .hero6 {
      background-image: url("../../imgAll/img_tutorial/hero6.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
      .container .content .con4 .hero6 .m1 {
        background: url("../../imgAll/img_tutorial/guide.png");
        background-position: -1498px -1px; }
    .container .content .con4 .hero9 {
      background-image: url("../../imgAll/img_tutorial/hero9.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
      .container .content .con4 .hero9 .m1 {
        background: url("../../imgAll/img_tutorial/guide.png");
        background-position: -1609px -91px; }
    .container .content .con4 .hero11 {
      background-image: url("../../imgAll/img_tutorial/hero11.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
      .container .content .con4 .hero11 .m1 {
        background: url("../../imgAll/img_tutorial/guide.png");
        background-position: -832px -1px; }
    .container .content .con4 .hero14 {
      background-image: url("../../imgAll/img_tutorial/hero14.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
      .container .content .con4 .hero14 .m1 {
        background: url("../../imgAll/img_tutorial/guide.png");
        background-position: -943px -91px; }
    .container .content .con4 .hero16 {
      background-image: url("../../imgAll/img_tutorial/hero15.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
      .container .content .con4 .hero16 .m1 {
        background: url("../../imgAll/img_tutorial/guide.png");
        background-position: -1054px -1px; }
      .container .content .con4 .hero16 .m2 {
        background: url("../../imgAll/img_tutorial/guide.png");
        background-position: -1054px -91px; }
    .container .content .con5 .skill h2 {
      width: 100%;
      height: 55px;
      color: #ead49a;
      font-size: 35px;
      text-indent: 46px;
      margin: 30px 0;
      float: left;
      text-align: left;
      background: url("../../imgAll/img_tutorial/t.png") no-repeat 22px center;
      line-height: 55px; }
    .container .content .con5 .skill ul {
      width: 100%; }
      .container .content .con5 .skill ul li {
        width: 45%;
        height: 133px;
        float: left;
        padding: 0;
        padding-left: 46px;
        color: #fff;
        margin-bottom: 25px;
        text-align: left;
        overflow: hidden; }
        .container .content .con5 .skill ul li .img {
          float: left;
          padding: 18px 15px; }
          .container .content .con5 .skill ul li .img img {
            width: 85px; }
        .container .content .con5 .skill ul li .intro {
          width: 300px;
          float: right;
          padding-left: 20px; }
          .container .content .con5 .skill ul li .intro h4 {
            line-height: 50px;
            font-size: 22px;
            color: #fff; }
          .container .content .con5 .skill ul li .intro p {
            line-height: 20px;
            font-size: 14px;
            color: #fff; }
    .container .content .con5 .skills1 .img {
      background: url("../../imgAll/img_tutorial/skill1.png"); }
    .container .content .con5 .skills2 .img {
      background: url("../../imgAll/img_tutorial/skill2.png"); }
    .container .content .con5 .skills3 .img {
      background: url("../../imgAll/img_tutorial/skill3.png"); }
    .container .content .con5 .skills4 .img {
      background: url("../../imgAll/img_tutorial/skill4.png"); }
    .container .content .con5 .skills5 .img {
      background: url("../../imgAll/img_tutorial/skill5.png"); }

/*# sourceMappingURL=tutorial.css.map */
